@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}
 

.container {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		padding-left: 128px;
		padding-right: 128px;

		@media (max-width: 1024px) {
			padding-left: 64px;
			padding-right: 64px;
		}
	
		@media (max-width: 767px) {
			padding-left: 32px;
			padding-right: 32px;
		}

}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;

	color: #FFF;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #24104f;
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: #FFF;
	font-size: 20px;
	background-color: firebrick;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	@media (max-width: 767px) {
		font-size: 18px;
	}
}

img {
	max-width: 100%;
}

header {
	width: 100%;
	color: transparent;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;

	.container {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
		
		h2 {
			color: inherit;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 900;

			span {
				font-weight: 500;
			}
		}
	}	
			.nav-grid {
				display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 16px;
			}
			@media (max-width: 350px) {
				display: none;
			}

			a {
				color: inherit;
				font-size: 20px;
				text-decoration: none;
			}
		
	
	}
	.is-scrolling {
		background-color: #12002F;
		.container {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}



main {
	section.banner {
		color: white;
		position: relative;
		display: flex;
		align-items: center;
		min-height: 1000vh;
		height:max-content;

		background-image: url("../SCSS/images/keyboard2.jpeg");
		background-position: left;
		background-size: cover;
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			top:0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 0;
			background-color:lightslategrey;
			opacity: 0.3;
		}

		.container {
			position: relative;
			z-index: 1;
			
			h1 {
				font-size: 72px;
				margin-bottom: 32px;

				span {
					color:firebrick;
				}
				@media (max-width: 767px) {
					font-size: 32px;
				}
			}

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 32px;
				
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
		}
	}
}
		.about {
			background-color: #eee;

			.container {
				padding-top: 64px;
				padding-bottom: 64px;
				}
				
				.about-grid {
					display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 16px;

				@media (max-width: 1024px) {
					grid-template-columns: repeat(2, 1fr);
				}

				@media (max-width: 767px) {
					grid-template-columns: 1fr;
				}

					.content {
						padding: 16px;
					}
				}
			}